<!DOCTYPE html>
<html>
<head>
  <title>ScotProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class=container>
  <p> </p>
  <p> <%= render 'layouts/navbar' %></p>
</header>
<body class=body>

<%= yield %>

</body>
</html>
